.loginForm {
  width: 400px;
}

.loginForm.card {
  height: 900px;
  width: 300pt;
  padding: 10pt;
}

#username,
#password {
  margin: 10pt;
  width: 255pt;
}

.card-content {
  margin-bottom: 10pt;
}

.signUpForm {
  height: 100pt;
  width: 300pt;
}
.signUpForm .card-content {
  margin: 10pt;
}

.form-control {
  margin-bottom: 10pt;
}

#carouselExampleDark {
  height: 250pt;
  width: auto;
  margin-top: 60pt;
}

#recoverAcc {
  text-decoration-line: none;
  margin: 10pt;
}

#navbar {
  color: antiquewhite;
  font-family: "lucida sans unicode", "lucida grande", sans-serif;
}

#navbar .btn {
  font-weight: 500;
}

.desc {
  height: 430px;
  width: 72%;
  padding: 10pt;
  font-weight: bold;
}

.divider {
  color: brown;
}

.desclogin {
  width: 72%;
  padding: 10pt;
  font-weight: bold;
  height: 265px;
}
