@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600&display=swap");
html {
  min-height: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(./images/bg.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 100%; */
  background: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 10px 0;
}

.btn-floating {
  border-radius: 50%;
}

.navigation {
  text-decoration-line: none;
}

.authbtn,
.addbtn {
  width: 90px;
}

.errorpg {
  padding: 100px;
}

.navigation {
  color: white;
}

.list-inline {
  padding-top: 5px;
}
