@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600&display=swap");
html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 20px;
  margin-top: 40px;
}

form button,
form h5 {
  margin: 10px 0;
}

.btn-floating {
  border-radius: 50%;
}

.navigation {
  text-decoration-line: none;
}

.navbar-brand {
  font-size: x-large;
}
.authbtn,
.addbtn {
  min-height: 48px;
  font-weight: 500;
  font-size: large;
}

.errorpg {
  padding: 100px;
}

.navigation {
  color: white;
}
.default {
  border-color: #e7e7e7;
  color: white;
}

.default:hover {
  background: #e7e7e7;
  color: black;
}

.list-inline {
  padding-top: 5px;
}

.textbox {
  height: 50px;
  margin-top: 20px;
}

.error {
  font-size: small;
  margin-left: 5pt;
  margin-top: 1pt;
}

.form-rounded {
  border-radius: 10rem;
}

.profile {
  margin-top: 50px;
}

.profile-form {
  margin-top: 1pt;
}

.delete {
  height: 25px;
}
