wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  margin-top: 55px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: lightgrey;
  color: #000000;
  transition: all 0.3s;
  padding-top: 20px;
}
.Content {
  top: 20px;
  padding-left: 100px;
  padding-top: 100px;
}

.navbar {
  size: 20px;
  background: grey;
  text-decoration-line: none;
}
.navbar-brand {
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin-top: 20pt;
  margin-bottom: 20pt;
}

.sidebar-options {
  margin-left: 10pt;
  margin-top: 10pt;
  margin-right: 10pt;
  width: 170px;
}

.list-unstyled .div {
  /* background-color: bisque; */
  border-radius: 4px;
  margin-top: 15px;
}

.list-unstyled .active .sidebar-options {
  background-color: lavenderblush;
  border-radius: 4px;
}
.inside .Content {
  margin-left: 150;
  padding-top: 130;
  margin-top: 100;
  padding-left: 150px;
}

.navlink {
  font-size: larger;
  text-decoration-line: none;
  color: black;
}

.user {
  color: white;
  font-size: larger;
}
